html,
body {
  height: 100px;
  margin: 5;
  text-align: center;
  border: 30px solid transparent;
  box-sizing: border-box;
}

div {
  border: 20px solid transparent;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
